
        <div>

        </div>

        <div class="table-wrapper">
            <table id="datatable" class="table display responsive nowrap">
                <thead>
                <tr>
                    <th class="wd-5p-force"></th>
                    <th class="wd-5p-force">ID</th>
                    <th class="wd-10p-force">E-mail Address</th>
                    <th class="wd-15p-force">First Name</th>
                    <th class="wd-15p-force">Last Name</th>
                    <th class="wd-15p-force">Status</th>
                    <th class="wd-15p-force">AE ID</th>
                    <th class="wd-15p-force">AM ID</th>
                    <th class="wd-15p-force">Account Tier</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/sl-1.3.1/datatables.min.js"></script>

        <script>
            $(document).ready(function(){

                $('#datatable').DataTable({
                    responsive: true,
                    serverSide: true,
                    pageLength: 25,
                    order: [[ 1, 'asc' ]],
                    columnDefs: [ {
                        orderable: false,
                        className: 'select-checkbox',
                        targets:   0
                    } ],
                    retrieve: true,
                    select: {
                        style:    'os',
                        selector: 'td:first-child'
                    },
                    ajax: ({
                        url: '/affiliates',
                        type: 'POST',
                        cache: false,
                        dataType: 'json',
                        // success: function (result) {
                        //     let dataTable = $('#datatable')
                        //     debugger
                        //     console.log(result);
                        //     dataTable.clear().draw()
                        //     dataTable.rows.add(result).draw()
                        // },
                        // error: function (err) {
                        //     console.log(err);
                        // }
                    }),
                    columns: [
                        { data: null, defaultContent: '' },
                        { data: 'id' },
                        { data: 'email' },
                        { data: 'first_name' },
                        { data: 'last_name' },
                        { data: 'status' },
                        { data: 'employee_id' },
                        { data: 'account_mgr_id' },
                        { data: 'account_tier' }
                    ]
                })

            });
        </script>
