
        <div class="table-wrapper">
            <table id="datatable" class="table display responsive nowrap">
                <thead>
                <tr>
                    <th class="wd-5p-force">ID</th>
                    <th class="wd-10p-force">E-mail Address</th>
                    <th class="wd-15p-force">First Name</th>
                    <th class="wd-15p-force">Last Name</th>
                    <th class="wd-15p-force">Status</th>
                    <th class="wd-15p-force">AE ID</th>
                    <th class="wd-15p-force">AM ID</th>
                    <th class="wd-15p-force">Account Tier</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/vendor/select2/js/select2.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

        <script>
            $(document).ready(function(){
                $('#datatable').DataTable({
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: '/affiliates',
                        type: 'POST',
                        cache: false
                    },
                    columns: [
                        { data: 'id', name: 'id' },
                        { data: 'email', name: 'email' },
                        { data: 'first_name', name: 'first_name' },
                        { data: 'last_name', name: 'last_name' },
                        { data: 'status', name: 'status' },
                        { data: 'employee_id', name: 'employee_id' },
                        { data: 'account_mgr_id', name: 'account_mgr_id' },
                        { data: 'account_tier', name: 'account_tier' }
                    ]
                });

                // Select2
                $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

            });
        </script>
